# Python
__pycache__/
*.pyc
venv/

# Logs
logs/
*.log

# Airflow generated
config/
airflow.db

# Environment
.env

# Data Lake (não versionar dados)
datalake/raw/
datalake/trusted/
datalake/curated/

# OS
Thumbs.db
