# Python
__pycache__/
*.pyc
venv/

# Logs
logs/
*.log

# Airflow generated
config/
airflow.db

# Environment
.env

# Data Lake (não versionar dados)
# Ignore parquet files only
*.parquet


# OS
Thumbs.db
